body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.book {
    width: 600px;
    height: 400px;
    /* perspective: 1000px;
    display: flex; */
    background: lightseagreen;
    position: relative;
}

.page {
    width: 50%;
    height: 100%;
    position: absolute;
    /* backface-visibility: hidden;
    transform-style: preserve-3d; */
    transition: transform 1s;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

#page1 {
    background-color: lightblue;
    z-index: 1;
    /* transform: rotateY(0deg); */
    /* z-index: 4; */
}

#page2 {
    background-color: lightcoral;
    transform: translateX(300px);
    /* transform: rotateY(-180deg); */
    z-index: 3;
}

#page3 {
    background-color: lightgreen;
    transform: translateX(300px);
    /* transform: rotateY(0deg); */
    z-index: 2;
}

#page4 {
    background-color: lightyellow;
    transform: translateX(300px);
    /* transform: rotateY(-180deg); */
    z-index: 1;
}

.navigation {
    margin-top: 20px;
}

button {
    padding: 10px;
    margin: 0 5px;
    font-size: 16px;
}
