*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face   {
    font-family: main-font;
    src: url('../asset/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}

/* .parallax-content{
    width: 100%;
} */

.body{
    overflow-x: hidden;
}


.parallax-bg{
    /* width: 100%; */
    /* height: 100vh; */
    /* background: url('../asset/home/sky.webp') no-repeat 50% 50%; */
    /* background-image: url('../asset/home/sky.webp'); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
    /* background: no-repeat 50% 50%; */
    position: relative;
    overflow: hidden;
    /* position: fixed; */
    /* top: 0;
    left: 0; */
    width: 100vw;
    height: 200vh;
    background-image: url('../asset/home/sky.webp');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    /* z-index: -1; */
    scroll-snap-align: start;
    z-index: -2;
}

.parallax-img-container {
    /* position: relative;
    width: 80vw;
    height: 100vh; */
    overflow: hidden;
}

.parallax-img-container img{
    
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    /* scroll-snap-align: start; */
}

.logo img{
    position: fixed;
    top: 30px;
    left: 30px;
    width: 100px;
    height: auto;
    z-index: 100;
}

/* 
.snap-item {
    scroll-snap-align: start;
    height: 100vh;
} */


.snap-container{
    /* display: none; */
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    z-index: 5;
} 

.story-section{
    scroll-snap-align: start;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../asset/bg_story_jp.jpg');
    background-size: cover;
    z-index: 5;
    /* overflow: hidden; */
}

.title-section{
    position: absolute;
    
    width: 500px;
    height: auto;
}

#story-title{
    top: 20px;
    left: 200px;
}


.story-box{
    width: 25vw;
    height: 50vh;
    background: white;
    padding: 4vh 4vw 4vh 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 10%;
}

.story-box hr{
    border: 1px solid;
    width: 16vw;
}

.story-btn{
    /* width: 20vw; */
    text-decoration: none;
    padding: 3vh 5vw 3vh 5vw;
    border: 1px solid black;
    color: black;
    transition: all 0.3s ease;
}

.story-btn:hover{
    background: black;
    color: white;
}

.story-btn-area{
    margin-top: 5vh;

}

.story-section{
    position: relative;
}

.story-section span{
    margin: 3vh 0 3vh 0;
}

.naruto-story-img img{
    height: auto;
    width: 20vw;
    top: 14%;
    left: 32%;
    position: absolute;
}

.letter-story-img img{
    position: absolute;
    right: 10%;
    top: 14%;
    width: 200px;
    height: auto;
}

.video-section{
    scroll-snap-align: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    /* padding: 400px 0; */
    overflow:hidden;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
}

.video {
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    min-height: 100%;
    min-width: 100%;

        /* padding-top: 56.25%;  */
}

.video-caption{
    position: absolute;
    top: 30%;
    left: 5%;
    width: 40vw;
    background: white;
    border: 1px solid black;
    padding: 5px;
    height: auto;
    font-size: 40px;
    z-index: 5;
}


.character-section{
    scroll-snap-align: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../asset/bg_comics_jp_light.png');
    background-size: cover;
}

.character-card{
    position: relative;
    width: 13vw;
    height: 50vh;
    padding: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.char-img-container img{
    width: 10vw;
    height: 35vh;
    object-fit: cover;
}

.card-name{
    width: 10vw;
    font-weight: 700;
}

.detail-btn{
    width: 10vw;
    text-decoration: none;
    color: black;
    padding: 3px 0px 3px 7px;
    border: 1px solid black;
    text-align: center;
    margin-top: 15px;
    transition: all 0.3s ease;
}


.detail-btn:hover{
    background: black;
    color: white;
}

.card-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
    position: absolute;
    top: 30%;
    left: 15%;
}

.more-btn{
    font-size: 20px;
    font-family: main-font;
    position: absolute;
    bottom: -80px;
    background: white;
    text-decoration: none;
    color: black;
    padding: 10px 15px 10px 15px;
    border: 1px solid black;
    text-align: center;
    transition: all 0.3s ease;
    width: fit-content;
}

/* .show-more-area{
    width: 100%;
} */

.more-btn:hover{
    background: black;
    color: white;
}

#character-title{

    top: 20px;
    left: 45%;
    
}

.anime-section{
    scroll-snap-align: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../asset/home/anime/background.jpg');
    background-size: cover;
    
    /* overflow: hidden; */
}

.anime-img-container img{
    width: 11vw;
    height: 35vh;
    object-fit: cover;
}


.anime-btn{
    font-family: main-font;
    width: 11vw;
    text-decoration: none;
    color: black;
    padding: 8px 0px 8px 0px;
    border: 1px solid black;
    text-align: center;
    margin-top: 15px;
    transition: all 0.3s ease;
    font-size: 20px;
}


.anime-btn:hover{
    background: black;
    color: white;
}


.anime-card{
    position: relative;
    width: auto;
    height: fit-content;
    padding: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#anime-title{
    left:100px;
    top: 100px;
}

.manga-section{
    scroll-snap-align: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../asset/home/manga/background-light.png');
    background-size: cover;
    
    
}

.box-container{
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 25%;
    left: 20%;
}

.manga-box{
    width: 400px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
}

.manga-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#manga-btn{
    font-size: 20px;
    font-family: main-font;
    background: white;
    text-decoration: none;
    color: black;
    padding: 25px 0px 25px 0px;
    border: 1px solid black;
    text-align: center;
    transition: all 0.3s ease;
    width: 100%;
    z-index: 5;
    margin: 10px;
}

/* .show-more-area{
    width: 100%;
} */

#manga-btn:hover{
    background: black;
    color: white;
}



canvas {
    /* border: 1px solid black; */
    position: fixed;
    bottom: 0;
    background: transparent;
    z-index: 200;
}